---
interface Props {
	href: string;
	text: string;
}
const { href, text } = Astro.props;
---

<a
	class="bg-blue-900 px-2 py-1 text-slate-100 opacity-50 duration-300 ease-in-out hover:rounded-xl hover:opacity-100"
	href={href}
	target="_blank"
	rel="noopener noreferrer"
>
	{text}
</a>
