---
interface Props {
	techs: string[];
}
const { techs }: Props = Astro.props;
---

<ul class="flex flex-wrap gap-2">
	{techs.map((tech) => <li class="rounded-lg bg-blue-800 px-2 py-1 text-slate-100">{tech}</li>)}
</ul>
