---
import type { Page, GetStaticPathsOptions } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { sortMDByDate } from "@/utils";
import PageLayout from "@/layouts/Base";
import JournalPreview from "@/components/blog/PostPreview";
import Pagination from "@/components/Paginator";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const allJournals = await getCollection("journal");
	const allJournalsByDate = sortMDByDate(allJournals);
	return paginate(allJournalsByDate, { pageSize: 10 });
}
interface Props {
	page: Page<CollectionEntry<"journal">>;
	uniqueTags: string[];
}

const { page } = Astro.props;

const meta = {
	title: "Journals",
	description: "A collection of journals by me",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			url: page.url.prev,
			text: `← Previous Posts`,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			url: page.url.next,
			text: `Next Posts →`,
		},
	}),
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">{meta.title}</h1>
	<div class="flex flex-col gap-2">
		<section aria-label="Blog post list">
			<ul class="flex flex-col gap-8">
				{
					page.data.map((journal) => (
						<li class="border-accent flex flex-col gap-2 rounded-xl border-2 p-2">
							<JournalPreview post={journal} path={meta.title.toLowerCase()} as="h2" withDesc />
						</li>
					))
				}
			</ul>
			<Pagination {...paginationProps} />
		</section>
	</div>
</PageLayout>
