---
import PageLayout from "@/layouts/Base";
import ProjectList from "@/components/projects/ProjectList";

const meta = {
	title: "Projects",
	description:
		"A list of projects that I have built with TypeScript, Next.js, Node.js, Express, and more!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">{meta.title}</h1>
	<ProjectList />
</PageLayout>
