---
import SocialList from "./SocialList.astro";
import { MENU_LINKS } from "@/data/constants";

const url = new URL(Astro.request.url);
const year = new Date().getFullYear();
---

<footer class="mt-auto bg-gray-800 py-8 text-slate-100">
	<div class="mx-auto w-11/12 max-w-5xl space-y-8">
		<div class="flex w-full flex-col items-center justify-between gap-8 sm:flex-row">
			<SocialList />
			<ul class="flex items-center gap-4">
				{
					MENU_LINKS.map((link) => (
						<li>
							<a
								href={link.path}
								class="text-lg text-slate-100 duration-300 ease-in-out hover:text-[#7599ff]"
								aria-current={url.pathname === link.path ? "page" : false}
								rel="prefetch"
							>
								{link.title}
							</a>
						</li>
					))
				}
			</ul>
		</div>
		<p class="text-center">
			Copyright &copy; {year}
			<span aria-label="penguin emoji">🐧</span>
			Victoria Cheng
		</p>
	</div>
</footer>
