---
import SocialList from "./SocialList.astro";
import Highlight from "./Highlight.astro";
---

<header class="py-20">
	<div class="mx-auto w-11/12 max-w-5xl">
		<section class="flex flex-col items-center justify-between gap-6 md:flex-row">
			<div class="border-1 w-56 md:w-64">
				<img
					width={256}
					height={256}
					src="/images/avatar.jpg"
					alt="Victoria Cheng"
					class="rounded-full"
				/>
			</div>
			<div class="basis-[70%] space-y-6">
				<h1 class="text-2xl font-bold text-accent md:text-3xl">
					👋 Hi there, I am Victoria Cheng!
				</h1>
				<p>
					As a <Highlight text="software developer" /> and <Highlight text="blogger" />, my previous
					career in packaging engineering has instilled in me the importance of collaboration and
					effective communication across teams. Whether it's clients, teams, or other relevant
					parties, I prioritize understanding and meeting their requirements. With this background,
					I approach web application development with a customer-focused mindset, striving to align
					the solutions with the needs and desires of all involved
				</p>
				<p>
					This unique blend of technical expertise and cross-functional teamwork allows me to
					deliver solutions that excel in both user experience and practicality. I am driven to
					continuously hone my skills and explore the ever-expanding possibilities within the
					technology world, utilizing my diverse background to create inspired and impactful web
					applications.
				</p>
				<SocialList />
			</div>
		</section>
	</div>
</header>

<style>
	p {
		@apply text-lg leading-9 tracking-wide;
	}
</style>
