---
import SocialList from "./SocialList.astro";
import Highlight from "./Highlight.astro";
---

<header class="py-16">
	<div class="mx-auto w-11/12 max-w-5xl">
		<section class="flex flex-col items-center justify-between gap-8 md:flex-row">
			<div class="border-1 w-56 md:w-64">
				<img src="/images/avatar.png" alt="Victoria Cheng" />
			</div>
			<div class="basis-[65%]">
				<h1 class="pb-6 text-2xl font-bold text-accent md:text-3xl">
					👋 Hi there, I am Victoria Cheng!
				</h1>
				<p class="pb-4 text-lg leading-8 tracking-wide">
					I am a <Highlight text="software developer" /> and a <Highlight text="blogger" />. I am
					dedicated to enhancing the user experience of web applications. I have designed and
					implemented the frontend and backend web solutions using my customer-focused mindset,
					effective time management, and collaborative approach. I have worked as a packaging
					engineer for the past several years, but found myself passionless by what I do lately. So
					I took some time to educate myself about programming in 2021.
				</p>
				<SocialList />
			</div>
		</section>
	</div>
</header>
