---
import { MENU_LINKS } from "@/data/constants";

interface Props {
	TopNav: boolean;
}

const url = new URL(Astro.request.url);
const { TopNav } = Astro.props;
const links = TopNav ? MENU_LINKS.slice(0, 3) : MENU_LINKS;
---

<ul class="flex items-center gap-6">
	{
		links.map((link) => (
			<li>
				<a
					href={link.path}
					class="text-lg text-slate-100 duration-300 ease-in-out hover:text-[#7599ff]"
					aria-current={url.pathname === link.path ? "page" : false}
					rel="prefetch"
				>
					{link.title}
				</a>
			</li>
		))
	}
</ul>
