---
import ThemeToggle from "./ThemeToggle.astro";
import Menu from "./Menu.astro";
---

<nav class="bg-gray-900 py-8">
	<div class="mx-auto w-11/12 max-w-5xl">
		<section class="flex">
			<div class="h-12">
				<img
					width={220}
					height={52}
					src="/images/victoriacheng15_logo.png"
					alt="victoriacheng15 logo"
				/>
			</div>
			<ThemeToggle />
		</section>
		<hr class="my-4" />
		<Menu />
	</div>
</nav>
