---
import { Icon } from "astro-icon/components";
import { activeSocial } from "@/data/constants";

interface Props {
	isInHeader: boolean;
}

const { isInHeader } = Astro.props;

const ulClass = isInHeader ? "flex gap-4" : "flex flex-col justify-center gap-6 md:flex-row";
---

<ul class={ulClass}>
	{
		activeSocial.map(({ name, href, icon }) => (
			<li class="duration-300 ease-in-out hover:text-accent">
				<a href={href} aria-label={name} target="_blank" rel="noopener noreferrer">
					<Icon class="h-10 w-10" name={icon} />
				</a>
			</li>
		))
	}
</ul>
