---
import { Icon } from "astro-icon";
---

<script>
	class ThemeToggle extends HTMLElement {
		constructor() {
			super();
			const button = this.querySelector("button") as HTMLButtonElement;

			function setTheme(dark: boolean) {
				document.documentElement.classList.toggle("dark", dark);
				button.setAttribute("aria-label", `Toggle ${dark ? "Dark" : "Light"} Mode`);
				button.setAttribute("aria-pressed", String(dark));
			}

			button.addEventListener("click", () => setTheme(!this.isDark()));
			setTheme(this.isDark());
		}

		isDark() {
			return document.documentElement.classList.contains("dark");
		}
	}

	customElements.define("theme-toggle", ThemeToggle);
</script>

<theme-toggle class="ml-auto">
	<button
		type="button"
		id="toggle-theme"
		class="group relative h-9 w-9 rounded-md bg-zinc-200 p-2 ring-zinc-400 transition-all hover:ring-2 dark:bg-zinc-700"
	>
		<Icon
			class="icon group-aria-pressed:scale-100 group-aria-pressed:opacity-100"
			aria-hidden="true"
			focusable="false"
			name="ph:sun-bold"
		/>
		<Icon
			class="icon group-aria-[pressed=false]:scale-100 group-aria-[pressed=false]:opacity-100"
			aria-hidden="true"
			focusable="false"
			name="ri:moon-clear-line"
		/>
	</button>
</theme-toggle>

<style>
	.icon {
		@apply absolute left-1/2 top-1/2 h-7 w-7 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all;
	}
</style>
