---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate } from "@/utils";

interface Props extends IElement {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
}

const { post, as: Element = "h3"} = Astro.props;
const date = new Date(post.data.publishDate);
const postDate = getFormattedDate(date);
---

<a href={`/posts/${post.slug}`} class="text-2xl" rel="prefetch">
	<Element class="flex flex-col gap-1 lg:flex-row lg:items-center lg:gap-3">
		<time datetime={postDate} class="text-base tracking-tight">{postDate} -</time>
		{post.data.title}
	</Element>
</a>
